.clientes__card {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.clientes__card-imagem {
    max-width: 150px;
}

.clientes__imagem {
    width: 100%;
    border-radius: 50%;
    box-shadow: black 0px 5px 5px;
    object-fit: contain;
}

.clientes__card-descricao {
    line-height: 22px;
}

@media screen and (min-width: 1024px) {
    .clientes__card {
        max-width: 20%;
        margin: 0;
    }

    .clientes__card-imagem {
        max-width: 40%;
    }

}