.clientes__card-imagem {
    max-width: 40%;
    border-radius: 50%;
}

.clientes__imagem {
    width: 100%;
    border-radius: 50%;
    box-shadow: black 0px 5px 5px;
    object-fit: contain;
}

.clientes__card-descricao {
    line-height: 22px;
}