.features__card-imagem {
    width: 3rem;
}

.features__card-titulo {
    font-size: 1.2em;
    font-weight: 800;
}

.features__card-descricao {
    font-size: 1em;
    font-weight: 100;
    line-height: 25px;
}